:root{
    --color-primary:#0056a0;
    --color-green: #94bd3c;
    --color-accent:#ee2059;
    --accent-hov:#cb1044;

    --blue-1:#006dcc;
    --cta-color-0: #0071e3;
    --cta-color-1: #0d539b;

    --black-0:#000;
    --black-1:hsl(0, 0%, 10%);
    --black-2:hsl(0, 0%, 20%);
    --black-3:hsl(0, 0%, 30%);
    --black-4:hsl(0, 0%, 40%);
    --black-5:hsl(0, 0%, 50%);
    --black-6:hsl(0, 0%, 60%);

    --white-1:hsl(0, 0%, 97%);

    --red: #ef5350;
    --red-2:#db2a27;
    --light-red:#fee3e2;

    --active-input: #e6f3ff;
    --body-font: "Plus Jakarta Sans", Helvetica, sans-serif;
    --title-font: 'Gojali', sans-serif;
    --radius: 10px;
    --radius-btn:20px;
    --transition-1: all .15s ease-in-out;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}
h1, h2, h3, h4, h5, h6{
    color: var(--color-primary);
}
body{
    padding: 30px;
    background-color: #eef3f8;
}
hr{
    width: 100%;
    height:1px;
    border-width:0;
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 80%);
}
a{
    color: var(--cta-color-0);
    transition: var(--transition-1);
}
a:hover{
    color: var(--cta-color-1);
}
/* ! FLEX */
.mcb-flex{
    display: flex;
}
.mcb-flex-c{
    display: flex;
    flex-direction: column;
}
.mcb-fg-0{
    flex-grow: unset !important;
}
.mcb-fg-1{
    flex-grow: 1;
}

.mcb-ai-c{
    align-items: center;
}
.mcb-ai-fe{
    align-items: flex-end;
}
.mcb-jc-c{
    justify-content: center;
}
.mcb-jc-sb{
    justify-content: space-between;
}
.mcb-jc-fe{
    justify-content: flex-end;
}

/* ! padding */
.mcb-pd-10{
    padding: 10px;
}
.mcb-pd-20{
    padding: 20px;
}
.mcb-pd-30{
    padding: 30px;
}

/* ! WIDTH & HEIGHT */
.mcb-w-4{
    width: 40%;
}
.mcb-w-5{
    width: 50%;
}
.mcb-w-6{
    width: 60%;
}
.mcb-w-10{
    width: 50%;
}
.mcb-h-10vh{
    height: 100vh;
}

/* ! TEXT ALIGN */
.mcb-txt-c{
    text-align: center;
}
/* ! FONTS  */
.mcb-fs-14{
    font-size: 0.875rem;
}
.mcb-fs-16{
    font-size: 1rem;
}
.mcb-fs-18{
    font-size: 1.125rem;
}
.mcb-fs-20{
    font-size: 1.25rem;
}
.mcb-fs-24{
    font-size: 1.5rem;
}

.mcb-fw-5{
    font-weight: 500;
}
.mcb-fw-6{
    font-weight: 600;
}

/* ! colors */
.mcb-color-blue-1{
    color: var(--blue-1);
}
.mcb-color-b3{
    color: var(--black-3);
}
.mcb-color-b4{
    color: var(--black-4);
}

.mcb-card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: var(--radius);
    border: solid 1px #cfcfcf;
    transition: var(--transition-1);
    flex-grow: 1;
}
fieldset, .mcb-field{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mcb-input{
    font-size: 1rem;
    border-radius: var(--radius);
    font-family: var(--body-font);
    padding: 10px;
    background-color: var(--white-1);
    border: solid 1px hsl(0, 0%, 70%);
}
.mcb-input:focus{
    border-color: var(--cta-color-0);
    box-shadow: 0 0 2px var(--cta-color-0);
    background-color: var(--active-input);
    outline: none;
}
.mcb-label{
    font-size: 0.875rem;
    color: var(--black-3);
}

/* ! GAP */
.mcb-gap-5{
    gap: 5px;
}
.mcb-gap-10{
    gap: 10px;
}
.mcb-gap-20{
    gap: 20px;
}
.mcb-gap-30{
    gap: 30px;
}

.mcb-gap-40{
    gap: 30px;
}

/* ! messages */
.mcb-error{
    color: var(--red-2);
    padding: 20px;
    border: solid 1px var(--red);
    border-radius: var(--radius);
    background-color: var(--light-red);
    height: fit-content;
}
.mcb-form-cont{
    width: 1000px;
}
.mcb-grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.mcb-file-upload .mcb-field-area{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(#d6f3ff, #edfaff);
    min-width: 200px;
    width: 90%;
    height: 100px;
    padding: 10px;
    border: solid 2px var(--cta-color-0);
    border-style: dashed;
    border-radius: 10px;
    font-size: .875rem;
    font-weight: 500;
    transition: var(--transition-1);
}

.mcb-field-area:hover{
    scale: 1.03;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mcb-file-upload input{
    display: none;
}
.mcb-cta-btn{
    cursor: pointer;
    border: none;
    background-color: var(--cta-color-0);
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    transition: var(--transition-1);
}

.mcb-cta-btn:hover{
    background-color: var(--cta-color-1);
}
/* * MEDIA QUERY */
@media screen and (min-width: 1700px){
    .mcb-form-cont{
        width: 1500px;
    }
}
@media screen and (max-width: 1100px){
    .mq-hide{
        display: none;
    }
    .mq-column{
        flex-direction: column;
    }
    .mcb-form-cont{
        width: 750px;
    }
    .mcb-grid-3{
        grid-template-columns: repeat(2, 1fr);
    }

    .mcb-pd-30{
        padding: 20px;
    }
    .mcb-gap-20{
        gap: 15px;
    }
    .mcb-gap-30{
        gap: 20px;
    }
    
    .mcb-gap-40{
        gap: 30px;
    }

}

@media screen and (max-width: 850px) {
    body, html{
        font-size: 14px;
    }
    body{
        padding-bottom: 60px;
    }
    .mcb-card{
        padding: 15px 20px;
        gap: 15px;
    }
    .mqm-col{
        flex-direction: column;
    }
    .mqm-ai-c{
        align-items: center;
    }
    .mcb-ai-fe{
        align-items: unset;
    }
    .mqm-gap-10{
        gap: 10px;
    }
    .mqm-txt-c{
        text-align: center;
    }
    
    .mcb-form-cont{
        width: 90%;
    }
    .mcb-grid-3{
        grid-template-columns: repeat(1, 1fr);
    }
    .mcb-file-upload .mcb-field-area{
        width: 100%;
    }
}